* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #303030;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #b9b3ae;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.avatar {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.chat-avatar {
    position: relative;
    min-width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    flex: 1;
}

.avatar img,
.chat-avatar img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-header-right {
    margin-left: 150px;
}

.chat-header-right img {
    width: 30px;
    height: 30px;
    margin: 5px 13px;
    opacity: 0.4;
}

#reload {
    opacity: 0.7;
}

body {
    overflow: hidden;
    display: flex;
}

.side-bar {
    flex: 15.17;
}

.header {
    background-color: rgb(237, 237, 237);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.message-container {
    flex: 22;
}

.message-header-right img {
    width: 30px;
    height: 30px;
    margin: 5px 13px;
    opacity: 0.4;
}

.chat-title {
    display: flex;
    align-items: center;
}

.message-header-content {
    margin-left: 15px;
}

.message-header-content h4 {
    font-weight: 400;
}

.message-header-content p {
    font-size: 14px;
    color: gray;
}

.sidebar-search-container img {
    width: 30px;
    height: 30px;
    margin: 5px 13px;
    opacity: 0.4;
}

.sidebar-search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    padding: 8px 15px;
}

.sidebar-search-container {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar-search-container input {
    border: none;
    outline: none;
    margin-left: 15px;
}

.sidebar-chats {
    height: calc(100vh - 115px);
    overflow-y: scroll;
}

.sidebar-chat {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 12px;
    width: 100%;
}

.sidebar-chat:hover {
    background-color: #e8e4e4;
}

.sidebar-chat:nth-child(2) {
    background-color: rgb(225, 224, 224);
}

.sidebar-chat::before {
    content: '';
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 80px;
    border-bottom: 1px solid #999;
    opacity: 0.2;
}

.chat-info {
    margin-left: 15px;
    flex: 10;
}

.chat-info p {
    font-size: 13px;
    color: gray;
    line-height: 20px;
}

.time {
    flex: 1;
}

.time p {
    white-space: nowrap;
    font-size: 13px;
    color: gray;
    margin-top: -15px;
}

.message-content {
    background-image: url(1141582.jpg);
    background-position: center;
    height: calc(100vh - 120px);
}